In [2]:
pip install pandas

Requirement already satisfied: pandas in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (2.3.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.3.5)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\dell\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2025.3)
Requirement already satisfied: six>=1.5 in c:\users\dell\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
import pandas as pd

In [4]:
# series (1D - single column)
s = pd.Series([10, 20, 30, 40])
print(s)

0    10
1    20
2    30
3    40
dtype: int64

In [6]:
# dataframe (2D - rows + columns)
data = {
    "name": ["adnan", "adil", "rehan"],
    "age": [23, 20, 23],
    "city": ["mumbai", "delhi", "hyd"]
}
df = pd.DataFrame(data)
print(df)

    name  age    city
0  adnan   23  mumbai
1   adil   20   delhi
2  rehan   23     hyd

In [ ]:
# check upper 5 rows
df.head()

    name  age    city
0  adnan   23  mumbai
1   adil   20   delhi
2  rehan   23     hyd

In [8]:
# check lower 5 rows
df.tail()

    name  age    city
0  adnan   23  mumbai
1   adil   20   delhi
2  rehan   23     hyd

In [9]:
# structure
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    3 non-null      object
 1   age     3 non-null      int64
 2   city    3 non-null      object
dtypes: int64(1), object(2)
memory usage: 204.0+ bytes

In [ ]:
# rows and columns
df.shape

(3, 3)

In [11]:
# columns
df.columns

Index(['name', 'age', 'city'], dtype='object')

In [14]:
# coloumns and row access
df["name"]
df[["name", "age"]]

    name  age
0  adnan   23
1   adil   20
2  rehan   23

In [15]:
# label based and index based
df.loc(0)
df.iloc(1)

In [16]:
# add new column 
df["salary"] = [30000, 40000, 50000]

In [20]:
import pandas as pd 
df = pd.read_csv("football.csv")
print(df.head())

  Div        Date   Time        HomeTeam     AwayTeam  FTHG  FTAG FTR  HTHG  \
0  E0  12/09/2020  12:30          Fulham      Arsenal     0     3   A     0
1  E0  12/09/2020  15:00  Crystal Palace  Southampton     1     0   H     1
2  E0  12/09/2020  17:30       Liverpool        Leeds     4     3   H     3
3  E0  12/09/2020  20:00        West Ham    Newcastle     0     2   A     0
4  E0  13/09/2020  14:00       West Brom    Leicester     0     3   A     0

   HTAG  ... AvgC<2.5  AHCh  B365CAHH  B365CAHA  PCAHH  PCAHA  MaxCAHH  \
0     1  ...     1.84  0.75      2.01      1.89   2.02   1.91     2.13
1     0  ...     1.70  0.25      1.78      2.13   1.79   2.17     1.85
2     2  ...     2.62 -1.50      1.85      2.05   1.85   2.08     1.90
3     0  ...     1.92 -0.50      2.03      1.87   2.04   1.88     2.09
4     0  ...     1.73  0.25      1.92      1.98   1.93   1.99     1.95

   MaxCAHA  AvgCAHH  AvgCAHA
0     1.92     2.02     1.87
1     2.18     1.79     2.12
2     2.16     1.84     2.04
3     1.91     2.02     1.86
4     2.01     1.91     1.97

[5 rows x 106 columns]

In [21]:
df.head()

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E0,12/09/2020,12:30,Fulham,Arsenal,0,3,A,0,1,...,1.84,0.75,2.01,1.89,2.02,1.91,2.13,1.92,2.02,1.87
1,E0,12/09/2020,15:00,Crystal Palace,Southampton,1,0,H,1,0,...,1.70,0.25,1.78,2.13,1.79,2.17,1.85,2.18,1.79,2.12
2,E0,12/09/2020,17:30,Liverpool,Leeds,4,3,H,3,2,...,2.62,-1.50,1.85,2.05,1.85,2.08,1.90,2.16,1.84,2.04
3,E0,12/09/2020,20:00,West Ham,Newcastle,0,2,A,0,0,...,1.92,-0.50,2.03,1.87,2.04,1.88,2.09,1.91,2.02,1.86
4,E0,13/09/2020,14:00,West Brom,Leicester,0,3,A,0,0,...,1.73,0.25,1.92,1.98,1.93,1.99,1.95,2.01,1.91,1.97

In [22]:
df.tail()

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
375,E0,23/05/2021,16:00,Liverpool,Crystal Palace,2,0,H,1,0,...,3.49,-2.25,1.86,2.04,1.88,2.03,1.98,2.14,1.88,2.00
376,E0,23/05/2021,16:00,Man City,Everton,5,0,H,2,0,...,2.77,-1.75,2.01,1.89,1.99,1.89,2.20,2.00,2.03,1.85
377,E0,23/05/2021,16:00,Sheffield United,Burnley,1,0,H,1,0,...,2.05,0.00,2.04,1.86,2.05,1.86,2.17,1.90,2.03,1.84
378,E0,23/05/2021,16:00,West Ham,Southampton,3,0,H,2,0,...,2.14,-0.75,2.00,1.90,2.02,1.91,2.06,2.01,1.99,1.89
379,E0,23/05/2021,16:00,Wolves,Man United,1,2,A,1,2,...,1.62,-0.25,2.04,1.86,2.10,1.84,2.10,1.94,2.00,1.88

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 380 entries, 0 to 379
Columns: 106 entries, Div to AvgCAHA
dtypes: float64(82), int64(16), object(8)
memory usage: 314.8+ KB

In [24]:
df.shape

(380, 106)

In [25]:
df.columns

Index(['Div', 'Date', 'Time', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR',
       'HTHG', 'HTAG',
       ...
       'AvgC<2.5', 'AHCh', 'B365CAHH', 'B365CAHA', 'PCAHH', 'PCAHA', 'MaxCAHH',
       'MaxCAHA', 'AvgCAHH', 'AvgCAHA'],
      dtype='object', length=106)

In [ ]:
df["AwayTeam"].head()    # check one columns

0        Arsenal
1    Southampton
2          Leeds
3      Newcastle
4      Leicester
Name: AwayTeam, dtype: object

In [ ]:
df[["HomeTeam", "AwayTeam"]].head()   # check two columns

         HomeTeam     AwayTeam
0          Fulham      Arsenal
1  Crystal Palace  Southampton
2       Liverpool        Leeds
3        West Ham    Newcastle
4       West Brom    Leicester

In [30]:
 #  team wins
df["FTR"].value_counts()

FTR
A    153
H    144
D     83
Name: count, dtype: int64

In [31]:
# home team wins

df[df["FTR"] == "H"]

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
1,E0,12/09/2020,15:00,Crystal Palace,Southampton,1,0,H,1,0,...,1.70,0.25,1.78,2.13,1.79,2.17,1.85,2.18,1.79,2.12
2,E0,12/09/2020,17:30,Liverpool,Leeds,4,3,H,3,2,...,2.62,-1.50,1.85,2.05,1.85,2.08,1.90,2.16,1.84,2.04
8,E0,19/09/2020,12:30,Everton,West Brom,5,2,H,2,1,...,1.85,-1.00,2.09,1.81,2.14,1.82,2.15,1.90,2.06,1.83
9,E0,19/09/2020,15:00,Leeds,Fulham,4,3,H,2,1,...,1.88,-0.75,1.97,1.93,1.99,1.94,2.01,2.03,1.95,1.93
11,E0,19/09/2020,20:00,Arsenal,West Ham,2,1,H,1,1,...,2.24,-1.00,1.82,2.08,1.87,2.07,1.96,2.10,1.85,2.02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
373,E0,23/05/2021,16:00,Leeds,West Brom,3,1,H,2,0,...,2.60,-1.00,1.88,2.02,1.90,2.01,1.94,2.14,1.87,2.00
375,E0,23/05/2021,16:00,Liverpool,Crystal Palace,2,0,H,1,0,...,3.49,-2.25,1.86,2.04,1.88,2.03,1.98,2.14,1.88,2.00
376,E0,23/05/2021,16:00,Man City,Everton,5,0,H,2,0,...,2.77,-1.75,2.01,1.89,1.99,1.89,2.20,2.00,2.03,1.85
377,E0,23/05/2021,16:00,Sheffield United,Burnley,1,0,H,1,0,...,2.05,0.00,2.04,1.86,2.05,1.86,2.17,1.90,2.03,1.84
378,E0,23/05/2021,16:00,West Ham,Southampton,3,0,H,2,0,...,2.14,-0.75,2.00,1.90,2.02,1.91,2.06,2.01,1.99,1.89

In [32]:
# draw mataches
df[df["FTR"] == "D"]

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
20,E0,26/09/2020,17:30,West Brom,Chelsea,3,3,D,3,0,...,2.46,1.25,1.89,2.01,1.90,2.03,2.01,2.11,1.88,2.01
23,E0,27/09/2020,14:00,Tottenham,Newcastle,1,1,D,1,0,...,2.20,-1.25,1.93,1.97,1.95,1.97,2.00,2.00,1.94,1.94
30,E0,03/10/2020,17:30,Leeds,Man City,1,1,D,0,1,...,3.39,1.75,1.98,1.95,1.99,1.93,2.03,2.02,1.91,1.96
38,E0,17/10/2020,12:30,Everton,Liverpool,2,2,D,1,1,...,2.63,0.75,1.86,2.04,1.88,2.05,1.90,2.07,1.87,2.02
39,E0,17/10/2020,15:00,Chelsea,Southampton,3,3,D,2,1,...,2.51,-1.00,2.00,1.90,2.06,1.88,2.08,1.98,1.97,1.91
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
328,E0,30/04/2021,20:00,Southampton,Leicester,1,1,D,0,0,...,1.86,0.50,2.02,1.91,2.02,1.91,2.06,1.96,1.98,1.91
335,E0,03/05/2021,18:00,West Brom,Wolves,1,1,D,0,1,...,1.59,0.00,1.78,2.16,1.81,2.15,1.81,2.20,1.76,2.13
350,E0,13/05/2021,18:00,Aston Villa,Everton,0,0,D,0,0,...,1.76,0.25,1.83,2.10,1.83,2.11,1.92,2.22,1.81,2.10
355,E0,15/05/2021,20:00,Brighton,West Ham,1,1,D,0,0,...,1.95,0.25,2.03,1.90,2.02,1.91,2.15,1.93,2.05,1.84
360,E0,18/05/2021,18:00,Man United,Fulham,1,1,D,1,0,...,2.47,-1.50,1.90,2.03,1.88,2.03,1.91,2.12,1.87,2.00

In [ ]:
df.isnull().sum()  # missing values

Div         0
Date        0
Time        0
HomeTeam    0
AwayTeam    0
           ..
PCAHA       0
MaxCAHH     0
MaxCAHA     0
AvgCAHH     0
AvgCAHA     0
Length: 106, dtype: int64

In [34]:
df.isnull()

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
376,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
377,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
378,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
379,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [36]:
df.fillna(0)

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E0,12/09/2020,12:30,Fulham,Arsenal,0,3,A,0,1,...,1.84,0.75,2.01,1.89,2.02,1.91,2.13,1.92,2.02,1.87
1,E0,12/09/2020,15:00,Crystal Palace,Southampton,1,0,H,1,0,...,1.70,0.25,1.78,2.13,1.79,2.17,1.85,2.18,1.79,2.12
2,E0,12/09/2020,17:30,Liverpool,Leeds,4,3,H,3,2,...,2.62,-1.50,1.85,2.05,1.85,2.08,1.90,2.16,1.84,2.04
3,E0,12/09/2020,20:00,West Ham,Newcastle,0,2,A,0,0,...,1.92,-0.50,2.03,1.87,2.04,1.88,2.09,1.91,2.02,1.86
4,E0,13/09/2020,14:00,West Brom,Leicester,0,3,A,0,0,...,1.73,0.25,1.92,1.98,1.93,1.99,1.95,2.01,1.91,1.97
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,E0,23/05/2021,16:00,Liverpool,Crystal Palace,2,0,H,1,0,...,3.49,-2.25,1.86,2.04,1.88,2.03,1.98,2.14,1.88,2.00
376,E0,23/05/2021,16:00,Man City,Everton,5,0,H,2,0,...,2.77,-1.75,2.01,1.89,1.99,1.89,2.20,2.00,2.03,1.85
377,E0,23/05/2021,16:00,Sheffield United,Burnley,1,0,H,1,0,...,2.05,0.00,2.04,1.86,2.05,1.86,2.17,1.90,2.03,1.84
378,E0,23/05/2021,16:00,West Ham,Southampton,3,0,H,2,0,...,2.14,-0.75,2.00,1.90,2.02,1.91,2.06,2.01,1.99,1.89
379,E0,23/05/2021,16:00,Wolves,Man United,1,2,A,1,2,...,1.62,-0.25,2.04,1.86,2.10,1.84,2.10,1.94,2.00,1.88

In [37]:
df.dropna()

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E0,12/09/2020,12:30,Fulham,Arsenal,0,3,A,0,1,...,1.84,0.75,2.01,1.89,2.02,1.91,2.13,1.92,2.02,1.87
1,E0,12/09/2020,15:00,Crystal Palace,Southampton,1,0,H,1,0,...,1.70,0.25,1.78,2.13,1.79,2.17,1.85,2.18,1.79,2.12
2,E0,12/09/2020,17:30,Liverpool,Leeds,4,3,H,3,2,...,2.62,-1.50,1.85,2.05,1.85,2.08,1.90,2.16,1.84,2.04
3,E0,12/09/2020,20:00,West Ham,Newcastle,0,2,A,0,0,...,1.92,-0.50,2.03,1.87,2.04,1.88,2.09,1.91,2.02,1.86
4,E0,13/09/2020,14:00,West Brom,Leicester,0,3,A,0,0,...,1.73,0.25,1.92,1.98,1.93,1.99,1.95,2.01,1.91,1.97
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,E0,23/05/2021,16:00,Liverpool,Crystal Palace,2,0,H,1,0,...,3.49,-2.25,1.86,2.04,1.88,2.03,1.98,2.14,1.88,2.00
376,E0,23/05/2021,16:00,Man City,Everton,5,0,H,2,0,...,2.77,-1.75,2.01,1.89,1.99,1.89,2.20,2.00,2.03,1.85
377,E0,23/05/2021,16:00,Sheffield United,Burnley,1,0,H,1,0,...,2.05,0.00,2.04,1.86,2.05,1.86,2.17,1.90,2.03,1.84
378,E0,23/05/2021,16:00,West Ham,Southampton,3,0,H,2,0,...,2.14,-0.75,2.00,1.90,2.02,1.91,2.06,2.01,1.99,1.89
379,E0,23/05/2021,16:00,Wolves,Man United,1,2,A,1,2,...,1.62,-0.25,2.04,1.86,2.10,1.84,2.10,1.94,2.00,1.88

In [38]:
df.dtypes

Div          object
Date         object
Time         object
HomeTeam     object
AwayTeam     object
             ...
PCAHA       float64
MaxCAHH     float64
MaxCAHA     float64
AvgCAHH     float64
AvgCAHA     float64
Length: 106, dtype: object

In [39]:
df.nunique

<bound method DataFrame.nunique of     Div        Date   Time          HomeTeam        AwayTeam  FTHG  FTAG FTR  \
0    E0  12/09/2020  12:30            Fulham         Arsenal     0     3   A
1    E0  12/09/2020  15:00    Crystal Palace     Southampton     1     0   H
2    E0  12/09/2020  17:30         Liverpool           Leeds     4     3   H
3    E0  12/09/2020  20:00          West Ham       Newcastle     0     2   A
4    E0  13/09/2020  14:00         West Brom       Leicester     0     3   A
..   ..         ...    ...               ...             ...   ...   ...  ..
375  E0  23/05/2021  16:00         Liverpool  Crystal Palace     2     0   H
376  E0  23/05/2021  16:00          Man City         Everton     5     0   H
377  E0  23/05/2021  16:00  Sheffield United         Burnley     1     0   H
378  E0  23/05/2021  16:00          West Ham     Southampton     3     0   H
379  E0  23/05/2021  16:00            Wolves      Man United     1     2   A

     HTHG  HTAG  ... AvgC<2.5  AHCh  B365CAHH  B365CAHA  PCAHH  PCAHA  \
0       0     1  ...     1.84  0.75      2.01      1.89   2.02   1.91
1       1     0  ...     1.70  0.25      1.78      2.13   1.79   2.17
2       3     2  ...     2.62 -1.50      1.85      2.05   1.85   2.08
3       0     0  ...     1.92 -0.50      2.03      1.87   2.04   1.88
4       0     0  ...     1.73  0.25      1.92      1.98   1.93   1.99
..    ...   ...  ...      ...   ...       ...       ...    ...    ...
375     1     0  ...     3.49 -2.25      1.86      2.04   1.88   2.03
376     2     0  ...     2.77 -1.75      2.01      1.89   1.99   1.89
377     1     0  ...     2.05  0.00      2.04      1.86   2.05   1.86
378     2     0  ...     2.14 -0.75      2.00      1.90   2.02   1.91
379     1     2  ...     1.62 -0.25      2.04      1.86   2.10   1.84

     MaxCAHH  MaxCAHA  AvgCAHH  AvgCAHA
0       2.13     1.92     2.02     1.87
1       1.85     2.18     1.79     2.12
2       1.90     2.16     1.84     2.04
3       2.09     1.91     2.02     1.86
4       1.95     2.01     1.91     1.97
..       ...      ...      ...      ...
375     1.98     2.14     1.88     2.00
376     2.20     2.00     2.03     1.85
377     2.17     1.90     2.03     1.84
378     2.06     2.01     1.99     1.89
379     2.10     1.94     2.00     1.88

[380 rows x 106 columns]>

In [40]:
df.sample(5)

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
71,E0,07/11/2020,15:00,Crystal Palace,Leeds,4,1,H,3,1,...,1.99,0.00,2.06,1.87,2.10,1.85,2.15,1.87,2.07,1.82
172,E0,16/01/2021,15:00,West Ham,Burnley,1,0,H,1,0,...,1.81,-0.75,2.03,1.90,2.04,1.89,2.05,1.91,2.02,1.87
174,E0,16/01/2021,20:00,Leicester,Southampton,2,0,H,1,0,...,1.91,-0.75,1.96,1.97,1.94,1.98,1.99,1.99,1.94,1.94
108,E0,12/12/2020,12:30,Wolves,Aston Villa,0,1,A,0,0,...,1.85,0.00,1.83,2.10,1.83,2.11,1.87,2.14,1.81,2.05
86,E0,23/11/2020,17:30,Burnley,Crystal Palace,1,0,H,1,0,...,1.65,0.00,1.86,2.07,1.85,2.09,1.88,2.11,1.84,2.04

In [41]:
# rename colunms
df.rename(columns={"FTHG": "HomeGoals"}),
inplace=True

In [44]:
df.drop(columns=["Time"])

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E0,12/09/2020,Fulham,Arsenal,0,3,A,0,1,A,...,1.84,0.75,2.01,1.89,2.02,1.91,2.13,1.92,2.02,1.87
1,E0,12/09/2020,Crystal Palace,Southampton,1,0,H,1,0,H,...,1.70,0.25,1.78,2.13,1.79,2.17,1.85,2.18,1.79,2.12
2,E0,12/09/2020,Liverpool,Leeds,4,3,H,3,2,H,...,2.62,-1.50,1.85,2.05,1.85,2.08,1.90,2.16,1.84,2.04
3,E0,12/09/2020,West Ham,Newcastle,0,2,A,0,0,D,...,1.92,-0.50,2.03,1.87,2.04,1.88,2.09,1.91,2.02,1.86
4,E0,13/09/2020,West Brom,Leicester,0,3,A,0,0,D,...,1.73,0.25,1.92,1.98,1.93,1.99,1.95,2.01,1.91,1.97
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,E0,23/05/2021,Liverpool,Crystal Palace,2,0,H,1,0,H,...,3.49,-2.25,1.86,2.04,1.88,2.03,1.98,2.14,1.88,2.00
376,E0,23/05/2021,Man City,Everton,5,0,H,2,0,H,...,2.77,-1.75,2.01,1.89,1.99,1.89,2.20,2.00,2.03,1.85
377,E0,23/05/2021,Sheffield United,Burnley,1,0,H,1,0,H,...,2.05,0.00,2.04,1.86,2.05,1.86,2.17,1.90,2.03,1.84
378,E0,23/05/2021,West Ham,Southampton,3,0,H,2,0,H,...,2.14,-0.75,2.00,1.90,2.02,1.91,2.06,2.01,1.99,1.89
379,E0,23/05/2021,Wolves,Man United,1,2,A,1,2,A,...,1.62,-0.25,2.04,1.86,2.10,1.84,2.10,1.94,2.00,1.88

In [45]:
df.duplicated().sum()

np.int64(0)

In [46]:
df["HomeTeam"].str.upper().head()
df["HomeTeam"].str.contains("United")

0      False
1      False
2      False
3      False
4      False
       ...
375    False
376    False
377     True
378    False
379    False
Name: HomeTeam, Length: 380, dtype: bool

In [48]:
df.to_csv("new_football.csv", index=False)